*$py.class
*.egg
*.egg-info/
*.py[cod]
.Python
.coverage
.eggs/
.installed.cfg
.mypy_cache
.pyre
.pytest_cache
.tags*
MANIFEST
__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
